body {
    background-color: #f0f0f0;
}

h2, form label, button {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input:focus {
    border-color: #4CAF50;
}